<html>
    <head>
       <meta charset="UTF-8">
        <title>Project-Brainstorm</title>
        <h1>Project Brainstorm</h1>
    </head>
    <body>

        <b1><a href="/register">Click Here to Register</a></b1>
        <br>
        <b1><a href="/login">Click Here to Login</a></b1>
        {% if g.user%}
            <br>
            Welcome {{ g.user[1] }}
            <br>
            <a href="/signout">Click Here to Logout</a>
            <br>
            <a href="/profile">Click here to Access Your Profile</a>
        {% endif %}
    </body>
</html>