<html>
    {% include "base.html" %}
    {% block content %}
    <body>
        <form id = "form" method="post" action="{{ url_for('load') }}">
            {{ form.csrf_token() }}
            <div class="form-group">
                {{ form.uuid.label }}
                {{ form.uuid(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit() }}
            </div>
        </form>
        <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
        <script src=" {{ url_for('static', filename='load.js') }}"></script>
    </body>
    {% endblock %}
</html>