<html lang="en">

    <script>
        window.addEventListener ("load", function () {
            var checkbox = document.getElementById ('{{form.toggle_pw.id}}');
            var x = document.getElementById ('{{form.password.id}}');
            checkbox.addEventListener ('change', function () {
                if (this.checked) {
                    x.type = 'text';
                } else {
                    x.type = 'password';
                }
            });
        })
    </script>
    <meta charset="UTF-8">
    <title>Registration</title>
    <h1>Project-Brainstorm User Registration</h1>
<div class="container">
    Please enter your new username and password for Project-Brainstorm below:
    <br>
    {% for field, errors in form.errors.items() %}
        <p style="color: red">{{ ', '.join(errors) }}</p>
    {% endfor %}
    <br>
    <form class="form-horizontal" method="POST" action= {{ url_for('register') }}>
        {{ form.csrf_token() }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
        </div>
         <div class="form-group">
             {{ form.password.label }}
             {{ form.password(class="form-control") }}
        </div>
         <div class="form-group">
             {{ form.confirm_pw.label }}
             {{ form.confirm_pw(class="form-control") }}
        </div>
        <div class="form-group">
             {{ form.toggle_pw.label }}
             {{ form.toggle_pw(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.first_name.label }}
            {{ form.first_name(class="form-control") }}
        </div>
         <div class="form-group">
            {{ form.last_name.label }}
            {{ form.last_name(class="form-control") }}
        </div>
         <div class="form-group">
            {{ form.dob.label }}
            {{ form.dob }}
        </div>
         <div class="form-group">
            {{ form.gender.label }}
            {{ form.gender }}
        </div>
         <div class="form-group">
            {{ form.submit.label }}
            {{ form.submit }}
        </div>
    </form>
</div>
    <a href="/">Back to Home</a>

</html>
